.dora-error-drawer {
  .ant-drawer-header {
    border-bottom: 1px solid #dcdfe4;
  }
  .drawer-title {
    display: flex;
    .text {
      margin-top: 2px;
    }
  }
  .widget-sub-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    margin: 8px 0;
  }
  .error-message {
    display: flex;
    margin: 8px 0 16px 0;
    .text {
      font-weight: 500;
      margin-top: 4px;
    }
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    text-align: right,
  }
}