.runs-logs-list {
  display: flex;
  flex-direction: column;

  .logs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21.625rem, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    padding: 1rem;
  }
}
