.configure-attributes-container {
  .sub-heading {
    color: #404040;
    line-height: 24px;
    font-weight: 500;
  }
  .footer-heading {
    color: #404040;
    line-height: 24px;
    font-weight: 500;
  }
}
