.org-user-version-modal {
  .ant-modal {
    max-height: 85vh;
    top: 5vh;
    overflow: hidden;

    .ant-modal-content {
      height: 85vh;
      overflow: hidden;
      .ant-modal-body {
        max-height: calc(100% - 100px);
        overflow: auto;
      }
    }
  }
}
