.annotation-row {
  margin: 0;
  height: 100%;
}

.annotation-text-col {
  height: 100%;
}

.annotation-logs-container {
  padding: 1.5rem;
  border: 1px solid #d7d7d7;
  height: 100%;
  overflow: auto;
}

.triage-rule-container {
  padding: 1rem;
  overflow: auto;
  height: 100%;
  border: 1px solid #d7d7d7;
  background-color: #f8f8f8;
  border-left: none;
}
