.progress-bar {
  &--success {
    font-size: 26px;
    color: var(--black1);
  }
  &--report {
    display: flex;
    justify-content: space-between;
    color: var(--black);
    opacity: 0.65;
  }
}
.compliance-card {
  .ant-progress-bg {
    background-color: var(--red);
  }
}
