.user-mfa-settings {
  .mfa-settings-container {
    padding-left: 0;
  }
}
.user-edit {
  .title {
    font-weight: 500;
    font-size: 1rem;
  }
}

.flex-column {
  flex-direction: column;
}
.note {
  font-size: 14px;
  font-weight: 400;
}
