.universal-custom-sprint-filter-action {
  .ant-checkbox-wrapper {
    .action-text-select {
      color: #5f5f5f;
      font-size: 12px;
      margin-top: 0.3rem;
      font-weight: 500;
      text-transform: none;
    }
  }

  .universal-custom-sprint-filter-exclude {
    .action-text {
      color: var(--inactive-tab);
      font-size: 10px;
      text-transform: capitalize;
      font-weight: normal;
      margin-top: 0.3rem;
    }

    .ant-switch {
      margin: 0 0.5rem 0;
    }

    .ant-switch::after {
      top: 1px;
      left: 1px;
    }

    .ant-switch.ant-switch-checked::after {
      left: 100%;
      margin-left: 0%;
    }
  }
}
