.integrations {
  p {
    margin-top: 26px;
  }
  p:first-child {
    margin-top: 5px;
  }
  .integration-header {
    color: #2d3e5e;
    font-size: 1rem;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 28px;
    .link-icon-color{
      color: #8a94a5;
    }
  }
  .more-integrations {
    position: relative;
    opacity: 0.6;
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .horizontal-line {
    border: solid 0.6px var(--border-color);
    margin: 1.5rem 0;
  }
  .more-description {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    color: #2d3e5e;
    margin: 0.8rem 0;
    .contact-button {
      border-color: #d93865;
      background-color: #d93865;
      margin-left: 2rem;
      &:hover,
      &:focus {
        border-color: #d93866d0;
        background-color: #d93866d0;
      }
    }
  }
}
