$select-options: ".select-options";

#{$select-options} {
  background-color: var(--component-background);
  filter: drop-shadow(3px 3px 5px var(--black));
  max-height: 17.5rem;
  overflow-y: auto;
  text-align: left;
  width: 100%;
}
