<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p [%.-10t] %logger{136} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="io.zonky.test.db.postgres.embedded.EmbeddedPostgres" level="warn" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>