.pillbox-zoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  border: 1px solid var(--grey5);
  box-shadow: 5px 5px 5px var(--grey5);
  border-radius: 3rem;

  .ant-btn {
    background: inherit;
    border: none;
  }

  .ant-btn:first-child {
    border-right: 1px solid var(--grey5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .ant-btn:last-child {
    border-left: 1px solid var(--grey5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
