.widget_defaults_wrapper {
  display: flex;
  height: calc(100% - 50px);
  flex-direction: column;
  .ant-typography.text-primary {
    color: #1a4cb8;
    cursor: pointer;
  }
  .report_category_dropdown {
    margin-top: 1rem;
  }
  .empty_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  &_reports_container {
    margin-top: 1rem;
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
    &_card {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.widget_defaults_reports_list {
  margin-top: 1rem;
  min-height: 30vh;
  max-height: 48vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &_name {
    padding: 1rem;
    cursor: pointer;
    &_select {
      cursor: pointer;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.filter-select-button.widget_defaults_reports_list {
  max-height: 38vh;
}
