.connectorsList {
  .integrationName {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 16px !important;
  }
  .sticky {
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--grey-0) !important;
  }
  .noIntegrations {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
    align-items: center;
    margin: 0 auto !important;
    padding-top: 40px !important;
  }
}