.recharts-wrapper {
  .recharts-surface {
    .recharts-label {
      opacity: 0.5;
      font-size: 11px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 4.09;
      letter-spacing: -0.11px;
      text-align: left;
      color: var(--graph-label);
    }
  }
}
