.jiraReportTitle {
  .nameContainer {
    width: 275px;
  }
  .titleJiraClass {
    color: #404040;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  .description-jira-icon {
    margin: 0 0 0 4px;
  }
  .dateFild {
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.44px;
    word-wrap: break-word;
  }
}
