.notes-modal-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #262626;
}

.notes-modal-sub-title {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin-top: 8px;
  font-weight: normal;
  margin-bottom: 28px;
}
