.effort-investment-stat-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;

  .carousel-Wrapper {
    width: 100%;
    height: 190px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    .stat-chart-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: calc(100% - 128px);
    }
  }

  .phase-carousel-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .custom-carousal {
      &-dots {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        .custom-dot {
          width: 1.75rem;
          height: 0.25rem;
          background: #d9d9d9;
          margin: 0.05rem;
        }
        .custom-dot-active {
          width: 1.75rem;
          height: 0.25rem;
          background: #2967dd;
          margin: 0.05rem;
        }
      }
    }

    .phase-carousel {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .nav-button-container {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        min-height: 250px;
        z-index: 5;

        &__left {
          left: -16px;
          top: -76px;
          bottom: -12px;
        }

        &__right {
          right: -16px;
          bottom: -12px;
          top: -76px;
        }
      }

      .nav-button-container-overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        min-height: 250px;
        width: 64px;
        z-index: 0;

        &__left {
          left: -16px;
          top: -76px;
          bottom: -12px;
          opacity: 0.17;
        }

        &__right {
          right: -16px;
          bottom: -12px;
          top: -76px;
          opacity: 0.17;
        }
      }

      .prev-btn,
      .next-btn {
        background-color: #2967dd;

        .anticon svg {
          fill: white;
        }

        &:disabled {
          background-color: #e2e0e0;
        }
      }
    }
  }
}
