.relative-time-range-dropdown {
  background-color: #f5f5f5;
  padding: 8px 25px 14px 11px;
  flex: 1;
  &--title {
    font-size: 12px;
    line-height: 20px;
    color: #2d3e5e;
    text-transform: capitalize;
  }

  &__input-dropdown {
    margin-top: 5px;

    input {
      width: 100px;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      border-radius: 2px;
      margin-right: 8px;
    }

    .ant-select .ant-select-selection {
      border-bottom: none;
    }
  }
}
