.widget-info-drawer {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e9e9e9;

  .content-img-preview {
    width: 100%;
    margin: 1rem 0;
  }
}

.widget-info-drawer-class.ant-drawer .ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.widget-info-drawer-class {
  .ant-drawer-body {
    margin-bottom: 53px; // height of action button section
  }
}
