.dialogContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .getStarted {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 60px;
    .header {
      display: flex;
      flex-direction: column;
      align-items: left;
    }
    .image {
      align-self: flex-end;
    }
  }
}