.csv-upload-container {
  padding: 0 30px;
  .sub-heading {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }
  .footer-heading {
    font-size: 16px;
    line-height: 24px;
    color: #404040;
  }
}
