.api-error {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  font-size: 20px;
  min-height: 21.5rem;
  justify-content: center;
  padding: 0 0 62px 0;
  .api-error-text {
    margin: 10px 0 0 0;
    p {
      text-align: center;
    }
  }
  .anticon-warning {
    color: var(--red);
  }
}

.stats-error-container {
  .anticon-warning {
    color: var(--red);
  }
  .stat-error-text {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}
