.ant-card {
  .ant-list {
    &-split {
      margin: -24px;
    }
  }
}

.ant-list {
  &-unbordered {
    .ant-list-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-item {
    padding-left: 24px;
    padding-right: 24px;
    &-meta {
      align-items: center;
    }
    &-meta-title {
      margin-top: 0;
      margin-bottom: 0;
      a {
        font-size: 15px;
        color: var(--black3);
      }
      .extra {
        font-size: 13px;
        color: var(--black4);
        opacity: 0.5;
      }
    }
    &-meta-avatar {
      .icon-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        font-size: 16px;
        background-color: var(--purple);
        color: var(--purple1);
        border-radius: 50%;
      }
    }
  }
}
