.definition-configuration-container {
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  .metric-switches {
    margin-top: 2rem;
    width: 25%;
    .metric-switch {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 0.75rem;
      p {
        text-align: start;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }
  .result-success {
    margin-right: 18%;
    .ant-result-subtitle {
      color: #000;
    }
    .anticon-check-circle {
      color: #61c429;
    }
  }
  .metric-configurations {
    width: 75%;
    margin-top: 2rem;
    .highlighted-text {
      font-weight: 700;
    }
    .tip-text {
      color: var(--grey3);
    }
    .error-text {
      color: red;
    }
    .definitions-container {
      margin: 1rem 0rem 2rem 0rem;
      .ant-checkbox-wrapper {
        display: flex;
        align-items: center;
      }
      .definition-comma-select {
        width: 50%;
        .ant-select-selection {
          border-bottom: 2px solid var(--grey5);
        }
      }
    }
    .definition-nav-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      .ant-btn {
        width: 16%;
        margin-right: 0.5rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }
}
