.dev-prod-table-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  div.dev-table-chart {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    thead.ant-table-thead > tr > th {
      text-align: center !important;
    }
    tbody.ant-table-tbody > tr {
      cursor: pointer;
    }
    tbody.ant-table-tbody > tr > td {
      text-align: center !important;
      & > div {
        margin: 0 auto;
      }
    }
  }
  .legend-container {
    display: flex;
    height: 10%;
    width: 100%;
    .legend {
      display: flex;
      margin: 0.5rem;
      .shape {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        background-color: aquamarine;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 0.85rem;
        line-height: 1.25rem;
        text-transform: capitalize;
      }
    }
  }
}
