.table-dropdown-container {
  display: flex;
  width: 100%;
  padding: 14px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 2px;
  flex-direction: column;

  .note {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #595959;
    margin: 10px 0;

    .link {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #595959;
      margin: 0 5px;
      text-decoration: underline;
    }
  }

  .test_class {
    width: 100%;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 2px;

    .ant-select-selection {
      border-bottom: none;
    }

    .ant-select-selection__placeholder {
      line-height: 22px;
      color: #8c8c8c;
    }
  }
}

.table-label-container {
  margin-top: 1rem;
  display: flex;
  margin-bottom: 4px;
  background-color: #fafafa;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;

  .table-name {
    margin-left: 5px;
  }
}
