.new-integration-card {
  height: 100%;

  &__ant-card {
    align-items: center;

    &__row {
      max-width: 70vw;
      min-width: 70vw;
      align-self: center;

      &__antTitle {
        font-size: 14px;
      }

      &__antText {
        text-align: justify;
        margin: 0.5rem 0 1.5rem 0;
      }

      &__antButton {
        margin-top: 1rem;
        align-self: flex-start;
        padding-left: 0;
      }
    }
  }

  &__cancelButton {
    width: 80px;
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
}
