@import 'shared-resources/style/mixin.scss';

.card {
  border-radius: .8rem;
  box-shadow: get-shadow(1);
  margin: 2rem;
  padding: 4rem;

  &:hover {
    box-shadow: get-shadow(4);
  }

  &--selected {
    border: solid .1rem var(--primary-green);
  }
}

.card-menu {
  background: var(--component-background);
  box-shadow: get-shadow(8);
}
