.configure-widget {
  .ant-modal {
    width: 75rem !important;

    .ant-modal-footer {
      margin-top: 1.5rem;
    }

    .no-preview {
      border: none;

      .ant-card-body {
        padding: 0;
      }
    }

    .preview-option.ant-checkbox-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      width: fit-content;

      .ant-checkbox-inner {
        width: 18px;
        height: 18px;
        border-radius: 0;
        border-width: 2px;
      }
    }
  }

  .configure-widget-filters {
    margin-top: 0.6rem;
    width: 100%;
    height: 14.725rem; // 20rem;
    display: flex;
    justify-content: space-between;

    &.configure-widget-filters__application-use {
      height: 35rem;
    }

    .configure-widget-filters__half {
      width: 48%;
      height: 100%;
      overflow-y: auto;

      &.overflow-hidden {
        overflow-y: hidden;
      }
    }
  }
}
