@import "shared-resources/style/mixin.scss";

.user-edit-page {
  &__content {
    flex-basis: 70%;
    width: 60%;
    align-content: center;
  }

  &__toggle {
    //width: 15%;
  }

  &__search-filter {
    width: 30%;
    z-index: z-index("select");
    margin-bottom: 10px;
  }

  &__label {
    color: var(--grey4);
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__label-error {
    color: var(--error);
    font-size: 1.4rem;
    font-weight: bold;
  }
}
