.lead-time-for-changes {
  margin: 24px;
  width: 100%;
  overflow: scroll;
  .header {
    display: block;
    margin-bottom: 16px;
  }
  .stage-header {
    display: block;
    margin-top: 1rem;
  }
  .header-required{
    color: #EC5B56;
  }
}
