inventory:
  url: http://localhost:9999
database:
  name: ingestion_control_plane
server:
  port: 8081
  servlet:
    context-path: /control-plane
  compression:
    enabled: true
    min-response-size: 2048
  http2:
    enabled: true

spring:
#  output:
#    ansi:
#      enabled: ALWAYS
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

#logging.level.root: DEBUG