.color-change-container {
  display: flex;
  .circle-color {
    width: 2.688rem;
    height: 2.688rem;
    border-radius: 100%;
  }
  .color-change {
    p {
      padding-left: 1rem;
      margin-bottom: 0;
      line-height: 1.5rem;
    }
    .open-color-picker-text {
      cursor: pointer;
      color: var(--link-and-actions);
    }
  }
}
.color-picker-container {
  width: 22.5rem;
  .footer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .ant-btn {
      margin-right: 0.5rem;
    }
  }
}
