.react-grid-item.react-grid-placeholder {
  transition-duration: 100ms;
  z-index: 2;
  user-select: none;
  border: 2px dashed var(--dragged-widget-box);
}

.rearrange-widget {
  border: 1px solid #e8eaf2;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  height: 100%;
  background-color: white;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    &--count {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 12px;
      line-height: 14.54px;
      //font-weight: 600;
      color: black;
    }

    &--icon {
      font-size: 12px;
      border-radius: 3px;
      padding: 2px;
      border: 1px solid #e8eaf2;
      color: #8993a7;
      background-color: white;
    }
  }

  &__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.2px;
    color: #2967dd;
  }

  &__description {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.2px;
    color: #8a94a5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .widget-preview-enabled {
    height: 124px;
  }

  .graph-stat-container {
    .ant-empty-image {
      height: 60px;
    }
  }
}

.rearrange-widget:hover {
  background-color: #f0f5ff;
  cursor: all-scroll;

  .widget-preview-container {
    background-color: #f0f5ff;
  }

  .empty-preview-state {
    background-color: #f0f5ff;
  }
}

.rearrange-widget:focus {
  background-color: #f5f6f8;
  border-color: #2d68dd;
}

.draft-widget {
  background: #fff7e6;

  .widget-preview-container {
    background-color: #fff7e6;
  }

  .empty-preview-state {
    background-color: #fff7e6;
  }
}
.draft-widget:hover {
  background: #ffedcc;

  .widget-preview-container {
    background-color: #ffedcc;
  }

  .empty-preview-state {
    background-color: #ffedcc;
  }
}

.rearrange-widget.stats {
  .widget-preview-enabled {
    height: 45px;
  }
}
