.flex {
  display: flex;

  &-wrap {
    flex-wrap: wrap;
  }
  &-1 {
    flex: 1;
  }
  &-shrink-0 {
    flex-shrink: 0;
  }
}

.direction {
  &-column {
    flex-direction: column;
  }

  &-column-reverse {
    flex-direction: column-reverse;
  }

  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }
}

.justify {
  &-start {
    justify-content: flex-start;
  }

  &-center {
    justify-content: center;
  }

  &-end {
    justify-content: flex-end;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-evenly {
    justify-content: space-evenly;
  }
}

.align {
  &-baseline {
    align-items: baseline;
    display: flex;
  }

  &-top {
    align-items: flex-start;
  }

  &-center {
    align-items: center;
  }

  &-bottom {
    align-items: flex-end;
  }

  &-self-end {
    align-self: end;
  }
  &-self-start {
    align-self: start;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// loops for overall padding
@for $i from 1 through 10 {
  .order-#{$i} {
    order: #{$i};
  }
}
