body {
  --black: #000000;
  --black1: #272727;
  --black3: #43425d;
  --black4: #4d4f5c;

  --blue1: #7196d4;
  --blue2: #4d7fd4;
  --blue3: #1a4fa9;
  --blue4: #2e4c7f;
  --blue5: #082e6e;
  --blue6: #3294f3;
  --blue7: #2967dd;
  --blue8: #00ade4;

  --green1: #63cccc;
  --green2: #3dcccc;
  --green3: #0a9999;
  --green4: #227373;
  --green5: #036363;
  --green6: #37b57e;

  --grey1: #323c47;
  --grey2: #4f4f4f;
  --grey3: #828282;
  --grey4: #bdbdbd;
  --grey5: #e5e5e5;
  --grey6: #f2f2f2;
  --grey7: #111111;
  --grey8: #818e9b;
  --grey9: #d3d8dd;
  --grey10: #7f8fa4;
  --grey11: #1b2c3c1a;
  --grey12: #dfe4ef;
  --grey13: #cbd1d6;
  --grey14: #dcdfe4;
  --grey15: #cccccc;

  --red: #e2392b;
  --red1: #ff5630;

  --orange1: #ffc57c;
  --orange2: #ffb04c;
  --orange3: #ff9510;
  --orange4: #bf8439;
  --orange5: #a65f05;

  --off-white: #fff7e5;
  --off-blue: #e0f0ff;

  --error: #fb404b;
  --levelops-white: #ffffff;

  --component-background: var(--levelops-white);
  --layout-body-background: #ffffff;
  --page-background: #fcfcfc;

  --font-color: var(--grey1);

  --primary-blue: var(--blue3);
  --primary-green: var(--green3);
  --primary-orange: var(--orange3);
  --dashboard-banner: #d93865;
  --purple: #e8e7ff;
  --purple1: #8280ff;

  --title-color: #404040;
  --primary-text-color: #2d3e5e;
  --text-color: #404040;
  --btn-color: #8a94a5;

  --border-color: #dcdfe4;

  --title: #404040;
  --primary-text: #2d3e5e;
  --link-and-actions: #0278d5;
  --secondary-text: #8a94a5;
  --disabled: #f3f4f7;
  --border: #dcdfe4;
  --input-border: #aeadad;
  --dividers: #eaebef;
  --background: #fafafb;
  --table-header: #4d4d4d;
  --table-sub-header: #172a4d;
  --green: #37b57e;
  --green-lighter: #eaf8f2;
  --yellow: #ffad00;
  --yellow-lighter: #fff7e5;
  --red: #ff5630;
  --red-lighter: #ffede9;

  --badge-secondary-bg: #f6f7f9;
  --badge-secondary-color: #2e3e5f;

  --graph-label: #5b677b;
  --nav-light-background: #07182b;
  --nav-dark-background: #0a3364;
  --greyText: #4d4d4d;
  --blueText: #0278d5;
  //--greyBackground: #f3f3f3;
  --stageHighlight: #bcdcfd;

  --highest: #a8071a;
  --high: #d46b08;
  --medium: #d48806;
  --low: #d6e4ff;
  --lowest: #e8e8e8;
  --ba-blue: #2967dd;

  --burn-remaining: #daddda;
  --burn-new: #ffcb73;
  --carousal-back: #f0f4fd;

  --sidebar-icon: #5b677b;
  --light-text: #8c8c8c;
  --link-actions: #23ccef;
  --menu-title: #f0f0f0;
  --filter-label: #575757;
  --text-secondary-color: #7e7e7e;
  --btn-hover: #f2f2f2;
  --harness-blue: #0278d5;
  --banner-bg: #effbff;
  --propelo: #ef315e;
  --new-layout-body-background: #fafcff;
  --login-black: #0b0b0d;
  --nav-light-background-hover: #071b37;
  --harness-btn-hover: #004ba4;
}
