.report-details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 14px;
  background-color: #fafafa;

  .report-label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .label-count {
      margin-left: 2px;
    }

    .report-name {
      margin-left: 4px;
    }
  }
  .question-icon {
    font-size: 20px;
    cursor: pointer;
    color: #bfbfbf;
    margin-left: 8px;
  }
}
