@import "shared-resources/style/mixin.scss";

.step-progress {
  padding: 4rem;

  &__navigation-on-header {
    position: absolute;
    right: 2rem;
    top: 2.5rem;
  }

  &__step-label {
    @extend %p14;
    color: var(--primary-green);

    &--toDo {
      color: var(--grey4);
    }
  }

  &__progress-bar {
    height: 4rem;
    padding: 0 16rem;
    width: 100%;
  }

  &__circle {
    border: 0.1rem solid var(--grey4);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    flex-shrink: 0;

    &--done {
      border-color: var(--primary-green);
    }

    &--inProgress {
      background-color: var(--primary-green);
      border-color: var(--primary-green);
    }
  }

  &__line {
    border: 0.1rem dashed var(--primary-green);
    height: 0.1rem;
    width: 100%;

    &--toDo {
      border-color: var(--grey4);
    }

    &--inProgress {
      border-color: var(--grey4);
    }
  }

  &__content {
    padding: 2.4rem 8rem;
  }

  &__item {
    padding: size();
  }

  &__item-value {
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__item-label {
    @extend %p12;
    color: var(--grey4);
  }

  &__preview {
    flex-basis: 30%;
  }

  &__current-step-content {
    flex-basis: 70%;
  }
}
