.drag-upload-container {
  &-dragger.ant-upload {
    position: relative;
    background-color: #eaf0fc;
    border-color: #2967dd;
    height: 50vh;
  }
  &.dragger-error {
    .drag-upload-container-dragger.ant-upload {
      position: relative;
      background-color: #fff1f0;
      border-color: #f5222d;
    }
  }
  &.dragger-warning {
    .drag-upload-container-dragger.ant-upload {
      position: relative;
      background-color: #fff2e8;
      border-color: #f5222d;
    }
  }
  &-learn-csv {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #2967dd;
    span {
      padding: 5px;
    }
    .anticon {
      margin-left: 10px;
    }
  }
  &.dragger-error {
    .drag-upload-container-learn-csv {
      color: #f5222d;
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    &-heading {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
    &-text {
      font-size: 14px;
      line-height: 22px;
    }

    &__error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &-svgIcon {
        margin-bottom: 44px;
      }
    }

    &__org_unit_error {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 20rem;
      background-color: #fff1f0;
      border: 1px dashed #f5222d;
      border-radius: 2px;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5rem;
      .error {
        font-weight: 500;
      }
      &-svgIcon {
        margin-bottom: 44px;
      }
    }
  }

  &-spiner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ant-upload-drag-icon {
    margin-bottom: 5px;
    .anticon.anticon-inbox {
      font-size: 80px !important;
    }
    .anticon.anticon-close-circle {
      font-size: 80px !important;
      color: #ffa39e !important;
    }
  }
}

.drag-uploaded-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &__radio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.final-state-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .version-button-icon {
    height: 147px;
    width: 147px;
  }
}
