.edit-add-triage-rule {
  .edit-add-heading {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    color: var(--greyText);
  }

  .ant-form {
    .ant-form-explain {
      font-size: 11px;
      line-height: 14px;
    }
  }

  .add-button {
    border: 1px solid var(--blueText);
    color: var(--blueText);
  }
}
