.label-top {
  transform: translateY(-20px);
  fill: #8a94a5;
  font-size: 16px !important; // override default style
  line-height: 30px;
}

.label-bottom {
  fill: #172a4d;
  font-size: 20px !important; // override default style
  line-height: 30px;
}

ul {
  list-style: none;
  margin-bottom: 4px;
}

.donut-wrapper {
  display: flex;
  align-items: center;
  & .recharts-wrapper {
    width: 200px;
  }
}

.donut-list-wrapper {
  margin-left: -70px;
}

.donut-list-item {
  margin-bottom: 4px;
}

.label-text {
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 1.2;
}

.label-numbers {
  margin-left: 12px;
  font-size: 12px;
  color: slategray;
}
