.layout-bg-side {
  width: 100%;
  font-size: 200px;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../assets/img/sign_in_graphic_new_cropped.png");
  background-size: 100% 100%;
  background-position: center;
}

.propelo-logo {
  background-image: url("../assets/img/propelo.svg");
  background-repeat: no-repeat;
  width: 352px;
  height: 168px;
  margin-top: 84px;
  border: none;
}
.layout-form-side {
  background-color: white;
  min-width: 550px;
  text-align: left;
  padding: 0px 8rem 0px 4rem;
  form label {
    font-size: 16px;
  }
  .harness-icon {
    height: 1rem;
    width: 1rem;
    margin-left: 0.5rem;
  }
  .harness-name {
    font-weight: 600;
    margin-left: 0.2rem;
  }
  .footer-info {
    margin-top: auto;
    margin-bottom: 5rem;
  }
}
.announcement-header {
  padding: 0px 1rem;
  background: #effbff;
}
.logo-info-section {
  margin-top: 2.5rem;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: 600;
  .flex-column {
    flex-direction: column;
    line-height: 1rem;
  }
  .logo-info {
    .sdi-icon {
      height: 2rem;
      width: 2rem;
    }
  }
}

@media (max-width: 1600px) {
  .layout-form-side {
    flex: 0 0 35% !important;
    max-width: 35% !important;
    min-width: 35% !important;
    width: 35% !important;
    padding: 0px 2rem 0px 2rem;
  }
}
