.lib-category-list {
  height: calc(100% - 65px);
  overflow-y: auto;
  margin-top: 15px;

  &__heading {
    font-size: 11px;
    color: #595959;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: -0.5rem;
  }

  &__list {
    padding: 4px 0;

    &--name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 6px;
      cursor: pointer;
      height: 40px;

      .report-name {
        font-size: 14px;
        line-height: 32px;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .report-deprecated {
        margin-left: 4px;
        margin-right: 0;
        padding: 0 4px;
        font-size: 10px;
      }

      &:hover {
        background: #f0f5ff;
        border-radius: 2px;
      }
    }

    &--disabled-row {
      padding: 4px 6px;
      font-size: 14px;
      line-height: 32px;
      color: #bfbfbf;
      cursor: not-allowed;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 40px;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .disabled-row-text {
        width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  &__no-data {
    line-height: 22px;
    font-size: 14px;
    color: #000;
    text-align: center;
  }
}
