.version-modal-container {
  .version_text {
    margin-bottom: 2px;
    font-size: 0.85rem;
    color: var(--light-text);
  }
}
.version-modal {
  .ou-version-table {
    max-height: 36rem;
    overflow-y: scroll;
  }
}
