.preview-modal {
  background-color: transparent;
  padding-bottom: 0;
  .ant-modal-content {
    background-color: transparent;
  }
  .ant-modal-close-x {
    display: none;
  }
  &-content {
    background-color: transparent;
  }
  &-body {
    background-color: transparent;
  }

  &-header {
    background-color: transparent;
  }

  &-close-x {
    display: none;
  }
}
//.ant-modal-content {
//  background-color: transparent;
//}
//.ant-modal-body {
//  background-color: transparent;
//}
//.ant-modal-footer {
//  background-color: transparent;
//}
//.ant-modal-header {
//  background-color: transparent;
//}
//.ant-modal-close-x {
//  display: none;
//}

.previewer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 1rem 2rem;
  background-image: linear-gradient(rgb(14, 22, 36), rgba(14, 22, 36, 0));
  background-color: transparent;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  padding: 0 2rem;

  &__button {
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(23, 43, 77, 0.9);
    padding: 4px;

    &:hover {
      color: rgba(23, 43, 77, 1);
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.previewer-content {
  margin: 100px 0;
  height: calc(100vh - 214px);
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;

  img {
    object-fit: contain;
  }
}
