.error-msg {
  color: #f44336;
  font-size: 12px;
}

.ou-category-selector {
  label {
    font-size: 0.875rem;
  }
}

.info-text {
  margin-bottom: 1rem;
  font-size: 0.85rem;
  color: var(--text-secondary-color);
}
