.chart-container-parent {
  height: 100%;

  .chart-container-sibling {
    display: flex;
    justify-content: flex-end;

    .report-btn {
      margin: 8px 0;
      padding: 4px 8px;
      max-width: 100%;
      min-height: 32px;
      height: auto;
      white-space: pre-line;
      background-color: white;
    }
  }

  .chart-container-component {
    .recharts-legend-wrapper {
      bottom: 0 !important;
    }
    .recharts-tooltip-wrapper{
      z-index: 1;
      pointer-events: all !important;     
    }

    .ba-bar-chart {
      .recharts-legend-item {
        margin-right: 1.5rem !important;
      }
    }
  }
}
