.popover-container {
  width: 25rem !important;
  height: auto;
  .name-column {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
    &-text {
      margin-bottom: 0;
      color: var(--ba-blue);
      width: 80%;
    }
    &-avatar {
      width: 20%;
    }
  }
  &-content {
    .row {
      display: flex;
      padding: 0.1rem;
      .total-col-1 {
        width: 70%;
        font-weight: 600;
      }
      .total-col-2 {
        width: 30%;
        font-weight: 600;
      }
      .col-1 {
        color: var(--ba-blue);
        width: 70%;
      }
      .col-2 {
        color: var(--grey3);
        width: 30%;
      }
    }
  }
  &-lower {
    &-button_container {
      text-align: center;
      .report-button {
        margin-top: 0.5rem;
        background-color: #fff;
        border: 1px solid var(--burn-remaining);
      }
    }
  }
}
