.banner {
  background-color: var(--banner-bg);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.4rem 0;
  .msg {
    padding: .8rem 0;
  }
  .company-names {
    font-weight: bold;
  }
  .icons-group {
    line-height: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .propelo-icon {
    width: 1.5rem;
    margin: 0.1rem;
  }
  .propelo-color {
    color: var(--propelo);
  }
  .harness-color {
    color: var(--harness-blue);
  }
  .close-icon {
    font-size: 1rem;
  }
  .see-announcement-btn {
    margin: 0 10px;
    margin-top: 5px;
    border-color: var(--harness-blue);
    color: var(--harness-blue);
  }
  .see-blog-btn {
    margin-left: 5px;
    margin-top: 5px;
    border-color: var(--harness-blue);
    color: var(--harness-blue);
    text-decoration-line: underline;
    text-underline-offset: 0.25rem;
  }
  .banner-button-wrapper {
    display: flex;
    justify-content: flex-end;
    .banner-button {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      column-gap: 2rem;
      a {
        border: 0.1rem solid var(--harness-blue);
        padding: 0.1rem 0.5rem;
        background-color: var(--levelops-white);
        border-radius: 5px;
        color: var(--harness-blue);
      }
    }
  }
}
