.breadcrumbs-container {
  display: flex;
  p {
    .path {
      color: black;
      cursor: pointer;
    }
    .path:last-child {
      color: #40a9ff !important;
      cursor: unset !important;
    }
    .delimiter {
      margin: 0 10px;
    }
  }
}

.absolute {
  position: absolute;
}

.module-path-filter {
  .search-icon {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
  }

  .search-field {
    width: 100%;
  }

  .ant-select-auto-complete.ant-select .ant-select-search--inline {
    margin: 0 0 -32px 0;
  }
}

.jira-stages-label {
  &__popover {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  &__info-icon {
    font-size: 16px;
    margin-right: 1px;
  }
}

.velocity-advanced-settings-button {
  margin-bottom: 1rem;
  background-color: #fff;
  border-color: #dcdfe4;
}

.criteria-group {
  display: flex;
  flex-direction: column;

  .ant-checkbox-group-item {
    margin: 4px 0;
  }
}

.widget-velocity-detail {
  color: #404040;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  word-wrap: break-word;
  margin-top: 10px;
  margin-bottom: 0;
}

.widget-velocity-note {
  color: #7e7e7e;
  font-size: 11px;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  word-wrap: break-word;
}

.velocity-create-profile-button {
  color: #2967dd;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  line-height: 16px;
  word-wrap: break-word;
  width: 175px;
  margin-bottom: 20px;
  margin-top: 10px;
  .widget-velocity-create-text {
    text-align: center;
  }
  .widget-velocity-create-btn {
    position: relative;
    margin-right: 30px;
    .widget-velocity-create-btn-icon {
      left: 2.67px;
      position: absolute;
      top: -18px;
    }
  }
}

.widget-velocity-create-profile {
  color: #404040;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  word-wrap: break-word;
  margin-bottom: 0;
}
