.hygiene-weights-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 6rem;
  margin: 1rem 0.5rem;
  padding-left: 0.5rem;
  height: 300px;
  overflow-y: scroll;
}
