.use-dashboard-time-switch-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 0.5rem;
  font-size: 0.6rem;

  &__switch-text {
    text-transform: none;
  }
}
