.note {
  background: #FFFBE6;
  border: 1px solid #FFE58F;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 2rem;
  padding: 16px;
}

.notice-heading {
  font-weight: bold;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.notice-message {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}

.preview-heading {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #2D3E5E;
}

.widget-preview {
  border: 1px solid grey;
  width: 100%;
  height: 230px;
  border-radius: 4px;
}

.place-heading {
  @extend .preview-heading;
  color: black;
}

.place-button {
  align-self: flex-end;
  margin-top: 0.75rem;
}
