$risk-color: #b62c1a;
$success-color: #3f8600;
$neutral-color: #c4bfbf;
$fraction-color: #1a6bb6;

.graph-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 170px;
  .ant-statistic-content {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 12px;
  }

  .category-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    letter-spacing: 0.1rem;
    height: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: left;
    width: 80%;
    margin-left: 10px;
  }
  .ideal-text-container {
    height: 1.5rem;
    .ideal-text {
      color: #595959;
      font-size: 14px;
      font-weight: normal;
      line-height: 24px;
      display: block;
      margin-bottom: 10px;
    }
  }
}
.graph-stat-cursor-pointer {
  cursor: pointer;
}
.stat-trend-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.border-risk {
  border: 1px solid $risk-color;
  color: $risk-color;
}

.border-success {
  border: 1px solid $success-color;
  color: $success-color;
}

.border-neutral {
  border: 1px solid $neutral-color;
  color: $risk-color;
}

.at-risk-style {
  border: 1px solid $risk-color;
  padding: 0.5rem;
  color: $risk-color;
}

.value-style {
  display: flex;
  margin-right: 8px;
  align-items: baseline;

  &-suffix {
  }

  &-prefix {
    height: 54px;
    display: block;
    font-size: 46px;
    line-height: 54px;
  }
}

.suffix-style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: 1rem;
  &-icon {
    color: black;
    height: max-content;
  }
  &-value {
    color: gray;
    margin-bottom: 0;
    margin-right: 0.2rem;
  }
}
