.dora-stat-stage-chart {
  display: flex;
  flex-direction: row;
  height: 100%;
  .left-component {
    width: 275px;
    padding: 0px 16px 24px;
  }
  .right-component {
    width: calc(100% - 275px);
  }
}
