.legend-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 24px;
  background-color: inherit; // For PDF

  .legend-filters-container {
    display: flex;
    align-items: center;

    .more-btn {
      height: 22px;
      padding: 0;
      margin-left: 8px;
      border-width: 0;
    }

    .down-arrow {
      margin-left: 4px;
    }

    .reset-btn {
      width: 92px;
      height: 22px;
      padding: 0;
      margin-left: 4px;
      border-width: 0;
    }
  }
}

.legend-filter-checkbox {
  text-transform: capitalize;

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    top: 3px;
    left: 3px;
    transform: none;
    background-color: #096dd9;
  }
}
