.automation-rules-edit {
  .ant-form-explain {
    text-align: left;
  }

  &.ant-card {
    .ant-card-body {
      height: 100%;
      padding: 0px; // 12px 16px
    }
  }

  .ant-form-vertical {
    height: 100%;

    & > .ant-row-flex {
      height: 100%;

      & > .ant-col {
        padding: 0px 0px;

        & > .ant-row {
          padding: 0px 30px; // 29px

          &:first-child {
            padding-top: 29px;
          }

          &:last-child {
            padding-bottom: 29px;
          }
        }

        &.scolling-column {
          height: 100%;
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }
      }
    }

    .ant-form-item {
      margin-bottom: 24px;
    }

    .ant-form-item-label {
      padding-bottom: 7px;
    }
  }

  .button-alignment-div {
    text-align: left;

    .ant-btn-link {
      padding-left: 0px;
    }
  }
}
