@import "shared-resources/style/mixin.scss";

%label-active {
  //@extend %p14;
  color: var(--grey4);

  top: -0.2rem;
}

%label-textarea {
  //top: 1.6rem;
  top: -0.6rem;
  //padding-left: 1px;
}

%error-message {
  color: var(--red);
  font-size: 1.2rem;
  left: 0;
  max-height: 0;
  overflow: hidden;
  //position: absolute;
  position: relative;
  //top: 3.9rem;
  transition: transition();
}

$custom-input: ".custom-style";

#{$custom-input} {
  padding: 1.2rem 0 1.7rem;
  position: relative;
  transition: transition();

  &#{$custom-input}--has-value {
    //label {
    //  @extend %label-active;
    //}
  }

  &--has-label {
    #{$custom-input}__has-edit .svg-icon {
      top: 1.3rem;
    }
  }

  &--error-pattern {
    #{$custom-input}__error-message {
      max-height: 0;
    }

    #{$custom-input}__error-pattern {
      max-height: 1.3rem;
    }
  }

  &__error-message {
    @extend %error-message;
  }

  &__error-message-textarea {
    @extend %error-message;
    position: relative;
    top: 0rem;
  }

  &__action {
    align-items: center;
    bottom: 2rem;
    cursor: pointer;
    display: flex;
    min-height: 2rem;
    min-width: 2rem;
    position: absolute;
    right: 0;
    z-index: 2;

    svg {
      path {
        fill: var(--levelops-white);
      }
    }
  }

  label {
    left: 0;
    pointer-events: none;
    position: absolute;
    //top: 0.6rem;
    top: -0.6rem;
    transition: transition();
    z-index: 2;
  }

  input {
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--grey4);
    color: var(--grey-4);
    font-size: 1.4rem;
    outline: 0;
    padding: size(0.5);
    width: 100%;

    &:focus {
      border-bottom-color: var(--primary-orange);

      //+ label {
      //  @extend %label-active;
      //}
    }
  }

  textarea {
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid var(--grey4);
    border-right: 0.1rem solid var(--grey4);
    border-left: 0.1rem solid var(--grey4);
    border: 0.1rem solid var(--grey4);
    color: var(--grey-4);
    font-size: 14px;
    outline: 0;
    padding: size(0.5);
    width: 100%;
    margin-top: 5px;
    //overflow: hidden;
    word-wrap: break-word;
    width: 100%;

    + label {
      @extend %label-textarea;
    }

    &:focus {
      //border-color: var(--primary-orange);
      border-bottom: 0.1rem solid var(--primary-orange);
      //border-top: 0;

      //+ label {
      //  @extend %label-active;
      //  top: -0.6rem;
      //}
    }
  }

  &--error {
    input {
      //border-bottom-color: var(--error);
    }

    label {
      //color: var(--error);
    }

    #{$custom-input}__error-message {
      max-height: 1.3rem;
      color: var(--error);
      text-align: right;
    }

    #{$custom-input}__error-message-textarea {
      max-height: 1.3rem;
      color: var(--error);
      text-align: right;
    }
  }

  &--readonly {
    input {
      pointer-events: none;

      &:focus {
        border: 0;
      }

      &:disabled {
        background-color: var(--grey3);
      }
    }

    &:not(#{$custom-input}--has-value) input:focus + label {
      font-size: 1.2rem;
      top: 1.6rem;
    }
  }
}
