@import "shared-resources/style/mixin.scss";

.lql-array-helper {
  &__lql-bar {
    width: 100%;
  }

  &__add-label {
    @extend %label3;
    color: var(--green3);
    text-transform: uppercase;
    font-size: 13px;
  }
}
