.excelImport {
  .excelImportContent {
    .ant-row {
      margin: 1rem 0;
    }

    .importInfo {
      font-size: 18px;
      height: 32px;
      color: gray;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .selectError {
      .ant-select-selection {
        border-color: red;
      }
    }
  }
}

.excelImportDetails {
  .ant-row {
    margin: 1rem 0;
  }

  .ant-modal-title {
    display: flex;
    align-items: center;
  }
}
