@keyframes c-spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.custom-spinner {
  height: 1.1rem;
  width: 1.1rem;
}

.custom-spinner::before {
  animation: 1.5s linear infinite c-spinner;
  animation-play-state: inherit;
  border: solid 1.5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  top: 1rem;
  left: 0.4rem;
  content: "";
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
