.integration-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-row-gap: 1em;
  grid-column-gap: 1em;

  .ant-card-head {
    border-bottom: none;
  }
}
