@import "../../../shared-resources/style/mixin";

.new-page-header {
  background-color: var(--layout-body-background);
  margin: 0 auto;
  width: 100%;
  padding-top: 33px;
  padding-right: 40px;
  padding-left: 40px;

  &__title {
    @extend %h3;
    margin-bottom: 0 !important;
    word-break: break-all;
  }

  &__description {
    @extend %p12;
    color: #2d335f;
    opacity: 0.85;
    font-size: 13px;
  }

  &__info {
    flex-grow: 1;
    padding-right: 20px;
  }

  &__info,
  &__extra {
    line-height: 1;

    .workspace-select-div {
      margin-right: 2.12rem;
      &__text {
        font-size: 1.1rem;
        line-height: 1.3rem;
        font-weight: 400;
        margin-right: 1rem;
      }

      .ant-select {
        width: 200px;

        .ant-select-selection {
          border-bottom: none;
        }
        .ant-select-arrow {
          color: black;
        }
      }
    }
  }

  nav {
    font-size: 1.4rem;

    li:last-child {
      pointer-events: none;
    }
  }

  .header_description {
    margin-left: 32px;
  }
  &.org-user-list {
    .new-page-header__extra {
      align-items: flex-end;
    }
  }
}

.dashboard-search-container {
  .ant-popover {
    top: 74px !important;
  }
}

.header-back-button {
  border: 1px solid #d9d9d9;
  margin-right: 0.5rem;
  min-width: 24px;
  width: 24px;
  height: 24px;
  color: #2967dd;
  background-color: #ffffff;

  i {
    font-size: 12px;
  }
}

.new-content-container {
  width: 100%;
  .new-content {
    margin-right: -10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name-container {
      display: flex;
      align-items: center;

      .ant-typography {
        margin-bottom: 0;
      }

      .new-flow-back-btn {
        min-width: 24px;
        width: 24px;
        height: 24px;
        color: #2967dd;
        background-color: #ffffff;
        border: 1px solid #d9d9d9;

        i {
          font-size: 12px;
        }
      }
    }
  }
}

.bottom-separator {
  width: 100%;
  margin-top: 15px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.full-with-bottom-border {
  border-bottom: 1px solid #bfbfbf;
}
.new-profiles-configure-page {
  padding-bottom: 0 !important;
  &.new-trelis-container {
    padding: 35px 40px;
    border-bottom: 1px solid var(--grey12);
    .ant-divider-horizontal {
      visibility: hidden;
    }
  }
}
.new-trelis-container + .ant-layout-content {
  padding: 0px !important;
}
.trellis-central-profile-wrapper+.ant-layout-content {
  padding: 0px !important;

  .page-container {
      overflow-y: hidden;
      }
}
