@import "shared-resources/style/mixin.scss";

.configuration-page {
  //  @extend %cards-grid;
  //  grid-template-rows: repeat(auto-fill, 16rem);
  //  width: auto;
  // height: calc(100vh - 9rem);
  // overflow: hidden;
  // overflow-y: auto;
  //  padding: 4rem;
  //width: calc(100vw - 9rem);

  .settings-title {
    margin: 0.8rem;
    hr {
      border-top: 1px solid var(--grey5);
    }
  }
  .configuration__card {
    border-radius: 0.4rem;
    cursor: pointer;
    height: 10rem !important;

    &:hover {
      box-shadow: 3px 3px 5px #949494;
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
      background-color: var(--levelops-white);
    }

    .fill-color {
      fill: #2967dd;
    }
    .p-r-0 {
      padding-right: 0rem !important;
    }
  }

  .configuration__card-label {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .configuration__card-desc {
    margin-top: 0.8rem;
    font-size: 0.8rem;
  }
}
