.ant-tree li .ant-tree-node-content-wrapper {
  display: inline-block;
  height: 45px;
  margin: 0;
  //padding: 0 5px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 24px;
  text-decoration: none;
  vertical-align: top;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent;
}

.ant-tree li .ant-tree-node-content-wrapper:hover {
  background-color: transparent;
}
