.theme-header {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: var(--text-color);
}

.widget-previews-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  overflow: auto;

  .widget-theme {
    box-sizing: border-box;
    padding-top: 30px;
    height: 100%;
    cursor: pointer;

    :hover {
      background: #f0f5ff;
    }

    .icon {
      width: 78px;
      height: 45.59px;
      left: 0;
      top: 0;
      margin: 10px 0;
    }
  }
}
