.widgets-by-theme {
  .header {
    display: flex;
    justify-content: space-between;

    .info {
      display: flex;
      flex-direction: column;
      line-height: 22px;

      &__title {
        color: #000000;
        font-size: 16px;
      }

      &__sub-title {
        font-size: 12px;
        color: #5b677b;
      }
    }
  }

  .content {
    height: calc(100% - 54px); // height of header part
    overflow: auto;
  }
}
