.advanced-config {
  padding: 2rem 3rem;
  overflow-y: auto;
  height: calc(100vh - 11rem);
  .info {
    font-size: 13px;
    color: #6b6d85;
    font-weight: 400;
  }
  .title {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .config-row {
    margin: 2rem 0;
    background-color: #fff;
    padding: 1rem 1rem 0 2rem;
    box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16), 0px 0px 1px 0px rgba(40, 41, 61, 0.04);
    .categories-container {
      column-gap: 1rem;
      padding-bottom: 1rem;
      align-items: flex-end;
      .categories {
          width: 40%;
          display: flex;
          flex-direction: column;
          row-gap: 4px;
          .effort-investment-category-selector {
            width: 100%;
          }
        }
    }
    
    :last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
    .ant-select {
      border: 1px solid #d9dae5;
    }
    .ant-input {
      border: 1px solid #d9dae5;
    }

    .exclude-row {
      padding: 0.5rem;
      margin: 0.5rem;
      border-bottom: 1px solid #d9dae5;
    }
    .note {
      color: #6b6d85;
      margin-bottom: 1rem;
      .ant-typography {
        color: #6b6d85;
      }
    }
    .exclude-checkbox {
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 1rem;
      .ant-checkbox {
        margin-top: 3px;
        .ant-checkbox-inner {
          border: 1px solid var(--harness-blue);
        }
      }
    }
    .selector {
      width: 40%;
      border: 1px solid #d9dae5;
      margin-bottom: 2rem;
    }

    .ant-input-number {
      border: 1px solid #d9dae5 !important;
      &.ant-input-number-disabled {
        background: #f3f4f7;
      }
    }
    .header-col {
      font-size: 13px;
      font-weight: 600;
      &.first {
        padding-left: 2rem !important;
      }
    }
  }
}
