.demo-combined-donut-bar-wrapper {
  display: flex;
  flex-direction: column;

  .donut-bar-wrapper {
    height: 300px;
    display: flex;
  }

  .bar-wrapper {
    padding-left: 1rem;
  }

  .tool-tip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    min-width: 203px;
    box-shadow: 1px 2px 8px;
    .tooltip-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      font-size: 14px;
      color: #262626;
      line-height: 16px;
      font-weight: bold;
      justify-content: space-between;
      align-items: center;
    }
    .tooltip-divider {
      display: flex;
      width: 100%;
    }

    .tooltip-icon {
      font-size: 25px;
    }

    .tooltip-content-text {
      line-height: 25px;
      font-size: 17px;
      font-weight: 600;
    }
  }

  .demo-trend-bar-chart-wrapper {
    height: 100%;
    width: 100%;
    .bar-chart-cell {
      opacity: 0.4;
    }
  }
}
