.drilldownLineGraph {
  margin-bottom: 16px;
  .trendGraphTitle {
    margin-left: 20px;
  }
  .horRow {
    margin-left: 20px;
    width: 500px;
    border: 1px solid #dcdfe4;
  }
  .graphContainer {
    height: 410px;
    width: 100%;
    padding: 10px 140px 0 24px;
    margin-bottom: 24px;
  }
}
