.trigger {
  display: flex;
  cursor: pointer;
  min-width: 150px;
  height: 76px;
  max-height: 76px;
  &:hover {
    box-shadow: 3px 3px 5px #949494;
  }
  &__left {
    padding: 20px;
    border: 1px solid var(--border-color);
    //border-right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: var(--levelops-white);
    color: var(--levelops-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .anticon {
      font-size: 20px;
    }
  }
  &__right {
    padding: 16px;
    border: 1px solid var(--border-color);
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--levelops-white);
    flex-grow: 1;
    display: flex;
    align-items: center;
    .ant-typography {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
