.dev-productivity-score-table {
  .blurred {
    cursor: pointer;
    color: #7e7e7e;
  }
  .values {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    margin-right: 5px;
  }
  .first-row-blurred {
    margin: 0 25%;
    background-color: #7e7e7e;
    padding: 5px;
    width: 50%;
    color: white;
    font-weight: bold;
  }
  .first-row-value {
    margin: 0 25%;
    padding: 5px;
    width: 50%;
    color: white;
    font-weight: bold;
  }
}
.last-updated-cell {
  color: #2967dd;
  cursor: pointer;
  .last-updated-at {
    font-size: 12px;
    color: #6b6d85;
    .cal-icon {
      color: black;
    }
  }
}
