.rearrange-grid {
  height: 100%;
  overflow-y: auto;
  width: 810px;
  &__heading {
    position: absolute;
    top: -0.1rem;
    padding: 0 1.5rem;
    background-color: white;
    left: 27%;
    z-index: 10;
  }
}
