.configure-factor {
  .ant-modal-body {
    padding: 0px;
  }
  .ant-modal-footer {
    text-align: left;
    .info-text {
      font-size: 0.85rem;
      color: var(--text-secondary-color);
      float: right;
      padding: 5px;
    }
  }
  .modal-row {
    padding: 0.8rem;
    border: 1px solid var(--grey12);
    box-shadow: 0px 2px 4px 0px rgba(96, 97, 112, 0.16), 0px 0px 1px 0px rgba(40, 41, 61, 0.04);
    display: flex;
    margin: 1rem;
    justify-content: space-between;

    .label-info {
      display: flex;
      column-gap: 7px;
      align-items: center;
      .svg-icon {
        height: 1.8rem;
      }
      .label {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
      }
    }
    .factor-weight {
      .label {
        font-weight: 500;
      }
      .ant-input-number {
        border: 1px solid var(--grey12);
        width: 10rem;
      }
      .anticon-info-circle {
        color: var(--harness-blue);
      }
    }
  }
}
