.trellis-group-modal {
    .ant-modal-body {
        background: var(--primary-primary-bg, #FAFCFF) !important;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .ant-modal-header {
        padding: 2rem 1rem;
        box-shadow: inset 0px 0px 0px 1px rgba(96, 97, 112, 0.16);
    }
    .ant-modal-footer {
        box-shadow: inset 0px 0px 0px 1px rgba(96, 97, 112, 0.16);
        padding: 1rem 2rem;
        text-align: left;
    }
    .title-label {
        color: var(--gray-scale-gray-scale-600, #4F5162);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
        margin-bottom: .5rem;
    }
  
    .row {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        .ant-input {
           border: 1px solid lightgray;
           width: 30%;
        }
    }
    .row-header {
        display: flex;
        justify-content: space-between;
        span {
            flex: 1 0;
        }
        :last-child {
            flex: 1.1;
        }
        
    }
    .title {
        font-weight: 600;
        margin: 1.5rem 0;
        font-size: 1rem;
    }
    .conditions {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        .ant-select {
            flex: 1 0;
            .ant-select-selection {
                border: 1px solid lightgray;
            }
        }  
    }
    .ant-btn-link {
        padding: 1rem 0;
    }
    .ant-divider-horizontal {
        margin:.5rem 0 1rem 0;
    }
}