.filter-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  margin: 0.5rem 0;

  span {
    font-weight: 700;
    text-transform: uppercase;
    color: #575757;
    font-size: 12px;
    line-height: 1;
  }
}
