.option {
  color: var(--font-color);
  cursor: pointer;
  margin: 0;
  padding: 1.25rem 2.5rem;
  transition: 0.3s;

  &:hover {
    background: var(--grey5);
  }

  &--selected {
    background: var(--primary-orange);
    color: var(--levelops-white);
  }

  &--compact {
    padding: 0.5rem;
  }
}
