.ant-checkbox {
  .ant-checkbox-inner {
    border: 1px solid @border-color-base;
    background-color: white;
  }
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: green;
}

.ant-checkbox-wrapper {
  font-weight: 400;
  white-space: pre-line;
  word-break: break-word;
}

.ant-checkbox-disabled + span {
  color: #2d3e5e;
  cursor: not-allowed;
}
