.ant-input {
  border-top: none;
  border-bottom: 1px solid #aeadad;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: inherit;

  &:focus {
    box-shadow: none;
  }
  &-search-icon {
    color: @input-placeholder-color;
  }
  /* &-group{
    > .ant{
      &-input,&-select,&-input-search{
        width: auto;
      }
    }
  } */
}

.ant-input-number {
  border-top: none;
  border-bottom: 1px solid #aeadad;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;
}

.ant-input-number-focused {
  box-shadow: none;
}

textarea.ant-input {
  border: 1px solid @border-color-base;
  border-radius: 6px;
}
