.ant-modal {
  &-content {
    font-family: Inter;
    background-color: #fff;
  }
  &-header {
    border-bottom: 0;
    padding: 30px 20px 0;
    background-color: #fff;
  }
  &-title {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
  }
  &-body {
    font-family: inherit;
    font-size: 14px;
    background-color: #fff;
  }
  &-footer {
    border-top: 0;
    background-color: #fff;
    .ant-btn {
      min-width: 72px;
    }
  }
}
