.ant-pagination {
  justify-content: center;
  display: flex;
  margin-top: 16px;
}

//.ant-pagination-item {
//  height: 3.2rem;
//  width: 3.2rem;
//}

.ant-pagination-item-active {
  background: @info-color;
  border-radius: 50%;

  &:focus a {
    color: @white;
  }

  a {
    color: @white;
  }
}

.ant-pagination-item-active:hover {
  background: @blue-3;
}
