.ant-select {
  .ant-select-selection {
    border-top: none;
    border-bottom: 1px solid #aeadad;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: inherit;

    &:focus {
      box-shadow: none;
    }

    &__choice {
      border: none;
      background-color: @select-selection-choice-color;
      color: @select-selection-choice-text-color;
    }
  }
}

.ant-select-open {
  .ant-select-selection {
    box-shadow: none;
  }
}

.ant-select-focused {
  .ant-select-selection {
    box-shadow: none;
  }
}
