.ant-switch {
  height: 16px;
  min-width: 35px;
}

.ant-switch::after {
  top: -3px;
  left: -1px;
}

.ant-switch.ant-switch-checked::after {
  margin-left: 3px;
  left: 100%;
}

.ant-switch-inner{
  margin-left: 18px;
  line-height: 12px;
}

.ant-switch-checked .ant-switch-inner {
  margin-right: 18px;
  line-height: 12px;
}
