.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
  margin: 0;
  border: none;
  border-bottom: 2px solid #dcdcdc;
}
.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  color: black;
  border-bottom: 3px solid #335ddd!important;
  margin: 0;
}
