.global-filters-div-wrapper {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  &-label {
    color: #595959;
    font-size: 10px;
    margin-top: 0.5rem;
    font-size: 10px;
    color: #595959;
    font-weight: bold;
  }
}
.global-filters-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 5px;

  span {
    margin-top: 5px;
  }
}

.half-width {
  width: 50%;
}
