$text-hover-color: #5b84eb;
.spinner-styles {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-spin {
    margin-top: 0.25rem;
  }
}

.demo-dashboard-view-secondary-header {
  padding: 0.7rem 0rem 0rem 2rem;
  box-shadow: 0px 6px 16px #eeeeee;
  background-color: var(--layout-body-background);
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .ant-select-selection {
    border: none !important;
    min-width: 13rem;
    font-size: 1rem;
  }

  .ant-select-arrow {
    right: 5px;
  }

  .demo-dashboard-search-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .ant-breadcrumb {
      display: flex;
      align-items: center;
      .ant-breadcrumb-link {
        cursor: pointer;
        font-size: 1.1rem;
        .link {
          .anticon {
            vertical-align: 0% !important;
            margin-right: 0.25rem;
          }
          &.selected {
            color: var(--link-and-actions) !important;
            &:hover {
              color: $text-hover-color !important;
            }
          }
          color: var(--title) !important;
          &:hover {
            color: $text-hover-color !important;
          }
        }
      }
    }

    .dash-search-popover {
      margin-left: 0.5rem;
      margin-bottom: 5px;
      .ant-btn {
        display: flex;
        align-items: center;
        border: none;
        font-size: 1.1rem;
        .seperator {
          color: #8a94a5;
          margin-right: 0.5rem;
        }
        .anticon {
          margin: 0.4rem;
        }
      }
    }
    .dash-search-popover:hover {
      .anticon {
        color: $text-hover-color !important;
      }
    }
  }

  .demo-profile-dashboard-time-div {
    display: flex;
  }

  .dashboard-date-picker {
    &:hover {
      color: $text-hover-color !important;
      .ant-typography {
        color: $text-hover-color !important;
      }
    }
    width: max-content;
    margin-right: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    display: flex;
    align-items: baseline;
    cursor: pointer;
  }

  .header-date-range-component {
    min-height: 360px;
  }

  .header-date-range-container {
    display: flex;

    .custom-drop-down {
      width: 20px;
    }

    .ant-calendar-picker {
      display: none;
    }
  }
  .widget-actions-menu {
    min-width: 160px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .ant-dropdown-menu-item {
      padding: 8px 16px;
    }
  }
}
