.new-custom-form-item-label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  flex: 1;

  span {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--form-item-label);
    font-size: 12px;
    line-height: 1;
  }

  &__popover {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  &__info-icon {
    font-size: 16px;
    margin-right: 1px;
  }

  .new-custom-label-actions {
    display: flex;
    margin: 0.5rem 0;
    align-items: center;

    .placeholder-button {
      display: none;
    }
    .ant-select-selection--single .ant-select-selection__rendered {
      .ant-select-selection-selected-value {
        font-size: 12px;
        text-transform: none;
        font-weight: 500;
      }
    }

    .action-text {
      color: #8a94a5;
      font-size: 10px;
      text-transform: capitalize;
      font-weight: normal;
      margin-top: 0.3rem;
    }

    .action-text-select {
      color: #5f5f5f;
      font-size: 12px;
      margin-top: 0.3rem;
      font-weight: 500;
      text-transform: none;
    }

    .ant-switch {
      margin: 0 0.5rem 0;
    }

    .ant-switch::after {
      top: 1px;
      left: 1px;
    }

    .ant-switch.ant-switch-checked::after {
      left: 100%;
      margin-left: 0%;
    }

    .ant-select .ant-select-selection {
      border-bottom: none;
    }
  }
}
