.scm-configurations-container {
  margin: 1rem 0;
  height: fit-content;
  .ant-card-body {
    padding: 0;
  }
  .scm-collapse {
    border: none;
    background-color: inherit;
  }
  .failed-deployment-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: #7e7e7e;
  }
  .scm-card:focus-within {
    margin-right: 5px;
    box-shadow: 3px 3px 5px #949494;
  }
  .footer {
    padding: 16px 24px;
    gap: 8px;
    height: 54px;
    background: #eaf0fc;
    border-radius: 4px;
    .footer-icon {
      color: #448ff7;
    }
  }
}
