.custom-carousal {
  display: flex;
  background: #f0f4fd;
  padding: 1rem;
  align-items: center;
  width: 90%;
  border-radius: 0.5rem;
  &-pagination {
    .carousal-text {
      margin-bottom: 0;
    }
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-dots {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    .custom-dot {
      width: 1.75rem;
      height: 0.25rem;
      background: #b3afaf;
      margin: 0.5rem;
    }
    .custom-dot-active {
      width: 2.25rem;
      height: 0.25rem;
      background: blue;
      margin: 0.5rem;
    }
  }
  &-action_buttons {
    width: 15%;
    display: flex;
    justify-content: space-around;
  }
}
