@import "shared-resources/style/mixin.scss";

.templates-add-page {
  &__content {
    flex-basis: 70%;
    width: 60%;
    align-content: center;
  }

  &__search-filter {
    width: 30%;
    //padding: 0 2rem;
    z-index: 999;
    //margin: 4px;
    margin-bottom: 10px;
  }

  &__label {
    color: var(--grey4);
    font-size: 1.4rem;
    font-weight: normal;
  }

  &__label-error {
    color: var(--error);
    font-size: 1.4rem;
    font-weight: bold;
  }
}

.tokens {
  display: inline;
  width: 100%;
  & .tokenLabel {
    white-space: pre;
    color: #8a94a5;
  }
}
