.dora-stage-chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .dora-stage-chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .content-container-new {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 0 0.1rem;
      row-gap: 40px;
      .dora-stage-content {
        display: flex;
        justify-content: center;
        width: 200px;

        .phase-container {
          position: relative;
          width: 100%;
          height: fit-content;
          box-sizing: border-box;
          border-radius: 4px;
          cursor: pointer;
          top: 2px;
          height: 200px;
          .phase-title {
            width: 200px;
            padding: 0px 8px;
            text-align: center;
            text-overflow: ellipsis;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 400;
            overflow: hidden;
            color: #404040;
            position: absolute;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

          .label-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 115px;
            height: 115px;
            border: 3px solid #dcdfe4;
            border-radius: 999px;
            .stage-value-wrapper {
              display: flex;
              flex-direction: column;
              position: absolute;
              align-items: center;
            }

            .flex-container {
              display: flex;
              flex-direction: column;
              text-align: center;
              border: none;
            }

            .stage-review {
              margin-right: 0px;
              border-radius: 16px;
              margin-top: 5px;
            }
            .phase-value {
              font-size: 24px;
              line-height: 1;
            }
          }

          .phase-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
            top: 50px;
            .progress-circle {
              width: 115px !important;
              height: 115px !important;
              border: 1px solid transparent;
            }
          }
        }
      }
    }

    .more-btn {
      position: relative;
      z-index: 2;
      height: 29px;
      padding: 0.2rem 0.5rem;
      margin-top: 81px;
      margin-left: 20px;
      background: #999999;
      color: #ffffff;
      border: 1px solid #d9d9d9;
      border-radius: 16px;
      cursor: pointer;
      font-size: 14px;
      top: 14.5px;
      &:before {
        position: absolute;
        top: 12px;
        left: -21px;
        width: 20px;
        height: 0;
        border: 1px solid #dcdfe4;
        background-color: #dcdfe4;
        content: "";
      }
      .end-upper-node-arrow {
        position: absolute;
        width: 15px;
        top: 8px;
        left: -13px;
        border: 1px solid #dcdfe4;
        background-color: #dcdfe4;
        transform: rotate(44deg);
      }
      .end-lower-node-arrow {
        position: absolute;
        width: 15px;
        top: 16px;
        left: -13px;
        border: 1px solid #dcdfe4;
        background-color: #dcdfe4;
        transform: rotate(139deg);
      }
    }

    .stage-wrapper {
      display: flex;
      justify-content: center;
      .label-container {
        z-index: 3;
      }
    }
    .stage-wrapper-new {
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;
    }

    .line,
    .left-line,
    .right-line {
      flex-grow: 1;
      border: 1px solid #dcdfe4;
      background-color: #dcdfe4;
    }
    .upper-node-arrow {
      position: absolute;
      width: 15px;
      top: 51px;
      left: 30px;
      border: 1px solid #dcdfe4;
      background-color: #dcdfe4;
      transform: rotate(44deg);
    }
    .lower-node-arrow {
      position: absolute;
      width: 15px;
      top: 60px;
      left: 30px;
      border: 1px solid #dcdfe4;
      background-color: #dcdfe4;
      transform: rotate(139deg);
    }

    .lead-time-event {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 95px;
      margin-right: -28px;
      margin-left: -28px;
      width: 100px;
      position: relative;
      .end-upper-node-arrow {
        position: absolute;
        width: 15px;
        top: 8px;
        left: 15px;
        border: 1px solid #dcdfe4;
        background-color: #dcdfe4;
        transform: rotate(44deg);
      }
      .end-lower-node-arrow {
        position: absolute;
        width: 15px;
        top: 16px;
        left: 15px;
        border: 1px solid #dcdfe4;
        background-color: #dcdfe4;
        transform: rotate(139deg);
      }
    }

    .start-event,
    .end-event {
      margin-top: 96px;
      text-transform: uppercase;
    }
    .start-event {
      width: 117px;
    }
    .v-line {
      position: relative;
      width: 0;
      height: 64px;
      border: 1px solid #dcdfe4;
    }

    .point-container {
      display: flex;
      z-index: 0;
      justify-content: center;
      align-items: center;
      width: 100%;

      .hidden {
        visibility: hidden;
      }
    }

    .point {
      width: 20px;
      height: 20px;
      background-color: #dcdfe4;
      border: 4px solid #fff;
      border-radius: 999px;
    }

    .event-label {
      z-index: 1;
      padding: 0 8px;
      background: #999999;
      border: 1px solid #ffffff;
      border-radius: 16px;
      color: #ffffff;
      text-align: center;
      font-size: 14px;
    }

    .event-container {
      width: 120px;
      max-height: 80px;
      padding: 8px;
      margin: 0 8px;
      box-sizing: border-box;
      background: #ffffff;
      border: 5px solid #f0ece7;
      border-radius: 6px;
      color: #5b677b;
      text-align: center;
      text-overflow: ellipsis;
      font-size: 13px;
      overflow: hidden;
    }
  }

  .legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 16px 0;
    font-size: 14px;
    font-weight: 500;

    .metric-label {
      margin-left: 8px;
      margin-right: 8px;
      font-size: 12px;
    }

    .indicators-container {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: 14px;
      font-weight: 500;

      .indicator-label {
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 500;
      }

      .indicator-item {
        display: flex;
        align-items: center;
        margin: 0 10px 0 0;

        .indicator-color {
          width: 16px;
          height: 16px;
          border-radius: 2px;
          width: 0.75rem;
          height: 0.75rem;
        }

        .indicator-title {
          margin-left: 0.5rem;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .separator {
        width: 0;
        height: 18px;
        margin-left: 8px;
        border: 1px solid #000000;
      }
    }
  }
}
