.switch-with-label {
  .ant-switch::after {
    top: 1px;
    left: 1px;
  }

  .ant-switch.ant-switch-checked::after {
    left: 100%;
    margin-left: -1px;
  }

  .action-text {
    color: #8a94a5;
    font-size: 10px;
    text-transform: capitalize;
    font-weight: normal;
    margin-top: 0.3rem;
    line-height: 1;
  }

  button.ant-switch-small.ant-switch {
    margin: 0px 0.5rem 0px;
  }
}
