.stat-card {
  height: 136px !important; // overriding ant default height of 100%

  &--title {
    padding: 8px 4px 0 4px;
    font-size: 14px;
    line-height: 22px;
    color: #2d3e5e;
    text-transform: uppercase;
  }

  &--content {
    height: calc(100% - 30px);
    font-size: 46px;
    line-height: 54px;
    color: #595959;
  }
}
