.blank-tile {
  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 120px;
    padding: 0;
    font-weight: 500;
  }
  .anticon {
    font-size: 40px;
    color: #2968dc;
    margin-bottom: 10px;
  }
}
