.seiSideNav {
  .bp3-tab {
    width: 40%;
    opacity: 0.65;
    color: var(--white) !important;
  }

  .bp3-tab[aria-selected=true] {
    font-weight: 600;
    opacity: 1;
  }
  .groupHeader {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    cursor: pointer;
  }
  .group {
    margin: var(--spacing-medium) 0;
  }
}
