.dropdown-with-tag-selection-display-off {
  display: none;
}
.org-unit-dropdown {
  left: 14.35rem !important;
}

@media (min-width: 1355px) and (max-width: 1440px) {
  .org-unit-dropdown {
    left: 14rem !important;
  }
}
