.configurationPanel {
  height: 92vh;
  overflow-y: scroll;
  margin-right: var(--spacing-large) !important;
  justify-content: space-between;
}

.jiraSelfManagedFields {
  width: 400px;
}

.jqlQuery {
  width: 562px;
}
