.filters {
  background: var(--page-background);
  padding: 1.6rem;
}

.filter-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1rem;
  margin: 0.5rem 0;

  span {
    font-weight: 700;
    text-transform: uppercase;
    color: #575757;
    font-size: 12px;
    line-height: 1;
  }
}

.report-filters-container {
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  &-dropdown {
    margin-bottom: 1.5rem;
  }
}

.reports-filters-list {
  margin-top: 1rem;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  &-label {
    padding: 1rem;
    &-select {
      cursor: pointer;
    }
  }
}
