.BigTag {
  background-color: #ececec;
  border-radius: 5px;
  position: relative;
  padding: 8px;
  padding-right: 40px;
  width: min-content;

  .FilterLabel {
    color: gray;
    font-size: 10px;
    font-weight: 400;
  }

  .ant-btn.ant-btn-link {
    padding-left: 0px;
  }
}
