.ou-score-table-container {
  .ou-score-table {
    height: 36rem;
    overflow-y: auto;
    .ant-table-thead {
      th {
        text-align: center;
        border-bottom: 1px solid #d7d7d7;
      }
    }
    .ant-table-tbody {
      td {
        text-align: center;
      }
    }
    a {
      color: var(--link-and-actions);
    }
    .blur-names-container {
      display: flex;
      align-items: center;
      color: var(--link-and-actions);
      cursor: pointer;
      .blur-icon {
        font-size: 1rem;
        margin-right: 0.25rem;
      }
    }
    .blurred-view {
      color: transparent;
      text-shadow: 0 0 5px rgba(41, 103, 221, 1);
    }
    .ant-table-pagination {
      float: inherit;
    }
    .ant-table-column-title {
      text-transform: uppercase;
    }
    .designed-score {
      padding-top: 0.25rem;
      color: #fff;
      width: 3.5rem;
      height: 1.75rem;
      font-weight: 800;
      font-size: 0.875rem;
      line-height: 1.35rem;
    }
    .score {
      display: flex;
      align-items: baseline;
      justify-content: center;
      .color-dot {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 100%;
        margin-right: 0.5rem;
      }
    }
    .category-header {
      img {
        width: 1.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  .ou-score-legend {
    display: flex;
    height: 10%;
    width: 100%;
    .legend {
      display: flex;
      margin: 0.5rem;
      .shape {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        background-color: aquamarine;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 0.85rem;
        line-height: 1.25rem;
        text-transform: capitalize;
      }
    }
  }
}
