.ou-field-text {
  font-size: 1rem;
  text-transform: capitalize;
}
.overview-section {
  .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
  .ou-edit-link {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    cursor: pointer;
    color: var(--link-and-actions);
  }
}
.ou-score-overview-component {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 2px;
  width: 16%;
  padding: 1rem;
  height: fit-content;
  .summary-container {
    .field {
      @extend .ou-field-text;
    }
    .summary-fields {
      .field-elements {
        display: flex;
        margin: 1rem 0rem;
        .value {
          display: flex;
          flex-wrap: wrap;
          padding-left: 0.75rem;
        }
      }
    }
    @extend .overview-section;
    .org-unit-overview {
      @extend .ou-field-text;
      .anticon {
        margin-left: 0.5rem;
      }
    }
  }
  .productivity-container {
    @extend .overview-section;
    .score-container {
      width: 100%;
      height: 6.25rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .score {
        font-size: 4rem;
        line-height: 4.5rem;
        color: #ffffff;
      }
      .score-desc {
        font-size: 1rem;
        line-height: 1.5rem;
        color: #ffffff;
        text-transform: uppercase;
      }
    }
  }
}

.org-unit-detail-container {
  width: 22rem;
  height: 32rem;
  padding: 1rem;
  .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
  .fields-container {
    height: 27rem;
    overflow-y: auto;
    .field {
      margin-bottom: 0.5rem;
      display: flex;
      .label {
        width: 35%;
        font-size: 0.875rem;
        font-weight: normal;
        text-align: end;
        text-transform: uppercase;
      }
      .label-small {
        @extend .label;
        font-size: 0.75rem;
      }
      .value {
        font-size: 0.875rem;
        width: 65%;
        text-align: start;
        display: flex;
        padding-left: 0.5rem;
        flex-wrap: wrap;
        justify-content: start;
        .ant-tag {
          color: #000;
          margin: 0.25rem;
        }
      }
    }
  }
}
