.propel {
  span.ant-typography {
    line-height: 1.5;
  }
}

.propel-modal {
  .ant-modal-body .modal-content-upload-file {
    height: 30vh;
  }

  .ant-modal-body .modal-content-name-validation {
    height: 15vh;
  }
}
