$last-cell-header-container-color: #d9d9d9;
$category-header-color: #f0f0f0;
$category-body-color: #fafafa;

.engineer-table-container {
  width: 100%;
  height: 100%;
  .recharts-responsive-container {
    display: flex;
    justify-content: center;
  }

  .ant-table-column-has-actions {
    text-align: center;
  }
  .last-header {
    background-color: $last-cell-header-container-color;
    .ant-table-column-title {
      font-weight: 400;
    }
  }
  .ant-table-thead {
    .category-header {
      background-color: $category-header-color;
    }
  }
  .ant-table-tbody {
    .category-header {
      background-color: $category-body-color;
      .effort-score-text {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.325rem;
      }
    }
  }
  .effort-type-switch {
    display: flex;
    justify-content: space-between;
    .uri-unit {
      margin-left: 8px;
    }
    .search-engineer {
      width: 20rem;
      margin-bottom: 10px;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
      border-color: #1890ff;
      box-shadow: none !important;
    }
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      z-index: 1;
      color: #1890ff;
      background: #fff;
      border-color: #1890ff;
      -webkit-box-shadow: -1px 0 0 0 #1890ff;
      box-shadow: -1px 0 0 0 #1890ff;
    }
  }
  .engineer-table-row {
    min-height: 80% !important;
    .engineer-table {
      .ant-table-fixed-left {
        .ant-table-column-has-actions:last-child {
          text-align: left;
          padding-left: 1rem !important;
        }
        .ant-table-thead {
          .engineer-header {
            padding-right: 13rem !important;
          }
        }
      }

      .engineer-name {
        display: flex;
        align-items: center;
        padding-left: 2.5rem;
        .avatar-container {
          width: 3rem;
          height: 3rem;
          left: 0px;
          border-radius: 100%;
          text-align: center;
          padding-top: 5%;
          color: #fff;
          font-weight: 600;
          top: 0px;
          background: #13c2c2;
        }
        .avatar-text {
          font-weight: normal;
          font-size: 0.875rem;
          line-height: 1.375rem;
          margin-left: 1rem;
          display: flex;
          align-items: center;
          color: #262626;
        }
      }
    }
  }
  .engineer-legend-container {
    height: 10%;
    .new-legend-container {
      margin-top: 1.25rem;
    }
  }
}

.stack-container {
  width: fit-content;
}
.engineer-table-popover {
  .popover-container {
    height: auto;
    width: 14rem;
    .name-column {
      &-avatar {
        width: 15%;
      }
      &-text {
        width: 85%;
      }
    }
    .popover-container-content {
      .color-container {
        display: flex;
        align-items: baseline;
        .text {
          width: 80%;
        }
        .color-avatar {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 100%;
          margin-right: 0.5rem;
        }
      }
      .row {
        margin: 0.5rem 0rem;
        .col-1 {
          width: 65%;
        }
        .col-2 {
          width: 35%;
        }
      }
    }
  }
}
