.jobMatchesTable {
  background-color: var(--grey6);
  margin-top: 1rem;
  padding: 1rem;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-height: 500px;
    overflow-y: auto;
    padding: 1rem;
  }
}
