.defination-configuration-modal {
  width: 40rem !important;
  .post-integration-modal-title {
    p {
      font-size: 0.85rem;
    }
  }
  .ant-modal-content {
    padding: 0rem 1rem;
  }
  .selected-config {
    font-weight: 600;
  }
}
