.selectProjectsContainer {
  height: 92vh !important;
  overflow-y: scroll;
  justify-content: space-between;
}

.blueCircle {
  background-color: var(--primary-7) !important;
  color: var(--white) !important;
  border-radius: 45%;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
