.sign-in-form-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  .harness-name {
    font-weight: 600;
    margin-left: 0.2rem;
  }
  .sign-in-email-form {
    .ant-form-item-label {
      padding-bottom: 0.2rem;
    }
    .ant-form-item-label > label {
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      color: #404040;
    }

    .welcome-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 25%;
      .more-info {
        margin-top: 2.5rem;
        font-weight: 300;
        font-size: 1rem;
        width: 100%;
      }
      .powered-by {
        font-weight: 300;
      }
      .propelo-logo {
        background-image: url("../../../assets/img/propelo.svg");
        background-repeat: no-repeat;
        width: 12rem;
        background-size: 5rem;
        height: 2rem;
        margin: 0 0 0 0.5rem;
        padding: 0px;
      }
      .welcome-text {
        font-size: 24px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 12px;
      }
      .welcome-description {
        font-size: 24px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 19px;
      }
      .ant-typography {
        color: #0b0b0d;
      }
    }

    .email-form {
      margin-bottom: 40px;
      &.label {
        .ant-form-item-label {
          label {
            font-size: 0.85rem;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
        input {
          border: 1px solid #d9dae5;
          border-radius: 0.2rem;
        }
      }
    }
    .old-flow-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
      padding-right: 12px;
      .ant-typography {
        color: var(--harness-blue);
      }
      .old-flow-login {
        cursor: pointer;
      }
    }

    .trouble-sign-in-div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 15px;
      padding-right: 12px;
      .trouble-question-dev {
        padding-left: 31px;
        text-align: right;
        .ant-typography {
          color: var(--harness-blue);
        }
        .trouble-question-text {
          cursor: pointer;
        }
      }
    }
  }

  .set-password-form-container {
    margin-top: 95px;
    .ant-form-item-children {
      input {
        border: 1px solid #d9dae5;
        border-radius: 0.2rem;
      }
    }
    .reset-welcome-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      color: var(--login-black);
      .welcome-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 22px;
        letter-spacing: 0.06rem;
      }
      .welcome-description {
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 22px;
      }
      .ant-typography {
        color: #22222a;
      }
    }
    .set-password-form {
      .ant-typography {
        color: #22222a;
      }
      margin-top: 50px;
      .ant-form-item-label {
        padding-bottom: 0.2rem;
      }
      .ant-form-item-label > label {
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 22px;
        color: #404040;
        text-transform: capitalize;
      }
      .middle-text {
        font-weight: 400;
        font-size: 0.85rem;
        line-height: 22px;
      }
      .confirm-password {
        margin-top: 23px;
      }
    }
  }
}
