.lead-time-legend-container {
  display: flex;
  align-items: center;

  .down-arrow {
    margin-left: 4px;
  }

  .stages-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 12px;
    font-weight: 700;

    .stages-count {
      margin-left: 4px;
      font-weight: 400;
    }
  }
}

.lead-time-filters-dropdown {
  .ant-dropdown-menu-item {
    padding: 16px;

    .reset-btn {
      padding: 0;
      color: #8c8c8c;
      font-size: 14px;
    }
  }
}

.legend-filter-checkbox {
  text-transform: capitalize;

  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    top: 3px;
    left: 3px;
    background-color: #096dd9;
    transform: none;
  }
}
