.code-change-size-container {
  padding-top: 8px;
  padding-left: 8px;
}

.comment-density-container,
.code-change-options {
  display: flex;
  flex-direction: column;
  padding-left: 8px;

  .comment-density-item,
  .code-change-option {
    height: 40px;
    display: flex;
    align-items: center;
  }
}
