$warning-color: #efaf41;

.validation-warning {
  padding: 1.5rem 1rem 0rem 1rem;
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    color: var(--title);
    margin-bottom: 1rem;
    .anticon {
      color: $warning-color;
      margin-right: 0.35rem;
      font-size: 1.15rem;
    }
  }
}
