@import "shared-resources/style/mixin.scss";

.template-page {
  //  @extend %cards-grid;
  //  grid-template-rows: repeat(auto-fill, 16rem);
  //  width: auto;
  // height: calc(100vh - 9rem);
  // overflow: hidden;
  // overflow-y: auto;
  //  padding: 4rem;
  //width: calc(100vw - 9rem);
  margin-top: 2rem;
  .template__card {
    border-radius: 0.4rem;
    cursor: pointer;
    height: 12rem !important;

    .ant-card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--levelops-white);
    }
  }

  .template__card-label {
    margin-top: 0.8rem;
  }
}
