.template-section-container {
  .ant-card-head-title {
    padding-right: 20px;
  }

  .ant-typography.ant-typography-edit-content {
    margin: 0px !important;
    left: 0px;
  }

  .section-description {
    font-size: 13px;
    white-space: pre-line;
    word-break: break-word;
    color: #2d3e5e;
    font-weight: 400;
  }
}
