@import "shared-resources/style/mixin.scss";

.svg-icon {
  svg {
    width: 100%;
    height: 100%;
  }

  &--rotate {
    svg {
      transform: rotateZ(90deg);
    }
  }

  &--primary {
    svg {
      color: var(--primary-orange);
      fill: var(--primary-orange);
    }
  }

  &--hide-empty-container {
    display: none;
  }
}
