.configurableDashboard {
  height: 100%;
  border: 1px dotted gray;
  padding: 0.5rem;
  position: relative;
  min-height: 1100px;
  display: flex;
}

.configurableStats {
  //height: 100%;
  border: 1px dotted gray;
  padding: 0.5rem;
  position: relative;
  min-height: 230px;
  display: flex;
  margin-bottom: 10px;
}

.viewWidgetWrapper {
  height: 100%;
  padding: 0rem;
  position: relative;
  min-height: 1100px;
  align: left;
  display: flex;
}

.widget {
  height: 100%;
  min-height: 100%;
}
.widget.view-only {
  .ant-card-head {
    .ant-card-head-wrapper {
      display: flex;
      flex-direction: row-reverse;

      .ant-card-extra {
        padding-right: 5px;
      }
    }
  }
}

.widgetContainer {
  padding: 0.2rem;
  box-sizing: border-box;
}

.fa-icon {
  cursor: pointer;
}

.addCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 100%;
  min-height: 99%;
  cursor: pointer;
  border: 1px dashed gray;
}

// This class is give to the grid-item by lib
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.react-grid-placeholder {
  background: white;
  opacity: 0.6;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

//widget-grid-classes

.treemap-breadcrumb {
  cursor: pointer;
  color: var(--primary-text);

  &:hover {
    text-decoration: underline;
    color: var(--link-and-actions);
  }
}

.ant-typography {
  .nonPublicDashboard {
    pointer-events: none;
    color: grey;
  }
}
