.config-table-filter {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(21.625rem, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;

  .tag {
    min-width: 7rem;
    height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f5f6f8;
    border-radius: 4px;
    margin-right: 0.5rem;
    justify-content: space-between;

    .tag-title {
      font-size: 0.9rem;
      width: 7rem;
      min-width: 7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .tag:hover {
    border: 1px dashed #5b84eb;

    .tag-title {
      color: #5b84eb;
    }
  }
}

.col-resize {
  position: relative;
  background-clip: padding-box;

  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    bottom: 0;
    right: -5px;
    cursor: col-resize;
    z-index: 1;
  }
}

.configure-table-view {
  .ant-calendar-picker {
    input {
      border: none;
      box-shadow: none;
    }
  }

  .ant-select {
    .ant-select-selection {
      border: none;
      box-shadow: none;
    }
  }

  .ant-row {
    max-width: calc(100vw - 64px - 80px);
  }

  .table-action-row {
    display: flex;
    position: absolute;
    right: -1.1em;
    top: 0;
    height: 100%;
    padding: 0.7em;
    background-color: #eef3fe;
  }

  .dot {
    height: 0.5rem;
    width: 0.5rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .ant-col {
    display: flex;
    flex-direction: column;

    .save-btn {
      align-self: flex-end;
      margin-bottom: 1em;
    }
  }

  .required:before {
    content: " *";
    color: red;
  }

  .ellipsis {
    position: relative;
  }

  .ellipsis:before {
    content: "&nbsp;";
    visibility: hidden;
  }

  .ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ellipsis-row {
    position: relative;
  }

  .ellipsis-row span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-table-bordered .ant-table-thead > tr > th,
  .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #dcdfe4;
  }

  .ant-table-bordered .ant-table-thead > tr > th {
    background-color: #e7ecf7;

    span {
      color: #464b56;
    }
  }

  .table-action-col {
    display: flex;
    justify-content: space-between;
    padding: 0.7em 0;
    background-color: #eef3fe;
  }

  .row-dot-pos {
    position: absolute;
    right: -0.3rem;
    z-index: 999;
  }

  .row-dot-pos-first {
    position: absolute;
    right: -0.3rem;
    z-index: 999;
    top: 3rem;
  }

  .col-dot-pos {
    position: absolute;
    right: calc(-1rem - 4px);
    z-index: 999;
    top: calc(-0.7rem - 10px - 0.625rem);
  }

  .col-dot-pos-first {
    position: absolute;
    left: calc(-1rem - 1px);
    z-index: 999;
    top: calc(-0.7rem - 10px - 0.625rem);
  }
}
