.widget-api-container {
  height: 100%;
  .org-unit-association-error-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .org-unit-association-error {
      text-align: center;
      color: var(--secondary-text);
      a {
        color: var(--ba-blue);
        text-decoration: underline;
      }
    }
  }
}
