.instance-card {
  box-shadow: 0 0 1px #a4a4a4;
  .custom-attach-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }
  .instance-card-title {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 22px;
  }
  .instance-card-status {
    text-transform: capitalize;
  }
  .text-green {
    color: #50aa29;
    cursor: pointer;
  }
  .text-red {
    cursor: pointer;
  }
  .cursor_disabled {
    cursor: not-allowed;
  }
  .instance-card-body {
    display: flex;
    flex-direction: column;
    .chart-container {
      height: 5rem;
    }
    .key-value-pair {
      display: flex;
      margin-top: 0.5rem;
      .key-pair-key {
        min-width: 5rem;
      }
      .key-pair-value {
        flex-grow: 1;
        margin-left: 1rem;
      }
    }
  }
}
