@import "shared-resources/style/mixin.scss";

.dom-modal {
  background-color: var(--component-background);
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  left: 50%;
  max-height: 95vh;
  max-width: 95vw;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;

  &--fullscreen {
    background-color: var(--page-background);
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0;
    width: 100vw;
  }

  &__header {
    background-color: var(--component-background);
    height: 9rem;
    padding: 2rem 12rem;
  }

  &__title {
    @extend %h3;
    align-self: center;
    justify-items: center;
    text-align: center;
    width: 100%;

    &--text {
      justify-content: center;
      width: 100%;
    }
  }
}
