.no-data-ui-container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  height: 100%;
  &-content-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    &-heading {
      font-size: 28px;
      line-height: 22px;
      font-weight: 700;
      margin: 14px 0px;
      color: #000000;
    }
    &-img {
      margin: 120px 0 30px 0;
    }
    &-display-text {
      margin-bottom: 2rem;
      text-align: center;
      color: #595959;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
    }
  }
}
