.password-input-component {
  height: 650px;
  color: #404040;

  .password-welcome-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 94px;
  }

  .forget-password-button {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--harness-blue);
    cursor: pointer;
  }

  .email-arrow {
    display: flex;
    align-items: baseline;
    .email {
      font-weight: 500;
      font-size: 24px;
      line-height: 22px;
      letter-spacing: 0.06rem;
      margin-left: 5px;
    }
    .svg-icon svg {
      width: 24px;
      height: 24px;
    }
  }
  .ant-typography {
    color: #0b0b0d;
  }

  .content {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 2rem;
  }

  .signIn-password-form {
    .custom-label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .next-back-button {
      margin-top: 1.5rem;
      flex-direction: column-reverse;
    }
    .ant-form-item-label {
      padding-bottom: 0.2rem;
    }
    .ant-form-item-label > label {
      font-weight: 500;
      font-size: 0.8rem;
      line-height: 22px;
      color: #404040;
      text-transform: capitalize;
    }
    .ant-form-item-control-wrapper {
      input {
        border: 1px solid #d9dae5;
        border-radius: 0.2rem;
      }
    }
  }
}
