.plugin-api {
  &--installation-heading {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
  }

  &--close-icon {
    font-size: 21px;
    cursor: pointer;
  }

  .heading {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
  }

  .description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #595959;
  }

  .plugin-install-steps-list {
    padding: 0 0 15px 15px;
  }

  .additional-details-link {
    margin-bottom: 30px;
  }

  &__step {
    display: flex;
    flex-direction: column;
    margin: 5px 0 5px 0;

    &--description {
      margin-top: 6px;
    }
  }

  &__api-key-container {
    margin-top: 10px;
    margin-bottom: 6px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    padding-right: 15px;

    &--key {
      font-size: 12px;
      line-height: 22px;
      letter-spacing: 0.02rem;
      color: #000000;
      word-break: break-word;

      .ant-typography-copy {
        color: #000000;
        font-size: 13px;
        top: 0;
        right: 0;
        position: absolute;
      }
    }

    &--name {
      font-size: 12px;
      line-height: 22px;
      color: #000000;
      word-break: break-word;
      text-transform: uppercase;
      display: block;

      .ant-typography-edit {
        font-size: 13px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
