.cicd-filter {
  padding: 8px;
  .filter-note-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    color: #7e7e7e;
  }
  .child-filter-add-button{
    padding-left: 30px !important;
    padding-bottom: 10px !important;
  }
}