.jenkins-node {
  height: 100%;
  border-top: 1px solid #d9d9d9;

  &__jenkins-section {
    flex: 3;
    min-height: 530px;
    border-right: 1px solid #d9d9d9;
    margin-top: 0.25rem;
    padding: 1rem;
    overflow: hidden auto;

    .attached-integrations {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      padding-top: 1rem;
    }
  }

  &__available-section {
    flex: 1;
    margin-top: 0.25rem;
    padding: 1rem 0 0 1rem;
    min-width: 22%;
    min-height: 530px;
    overflow: hidden auto;
  }

  &__add-section {
    flex: 1;
    margin-top: 0.25rem;
    padding: 1rem 0 0 1rem;
    min-width: 22%;

    .heading {
    }
  }

  .heading {
    margin-bottom: 1rem;

    &__title {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-right: 0.5rem;
    }

    &__count {
      font-size: 14px;
      line-height: 22px;
      background-color: #8c8c8c;
      padding: 0 0.25rem;
      border-radius: 20px;
      color: #ffffff;
    }
  }

  .no-data-found {
    margin-top: 200px;
    text-align: center;
    color: #595959;
  }
}
